<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>About Us</h3>
        <h5>Engineering modern business to improve everyday lives</h5>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h4>What We Do</h4>
          <p>
            We help imagine, build and implement web technologies to keep our clients constantly aware and responsive.
          </p>
          <h4>Who We Are</h4>
          <p>
            Divine Ads and WebServices is  a Digital Services company and We provide Web Development services and digital advertisements.
          </p>
          <h4>How We Work</h4>
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-cloud-fog2"></i></div>
            <h4 class="title"><a href="javascript:void(0)">Agile</a></h4>
            <p class="description">When it comes to agile transformation, we start with our two best tools: our ears. Then we work side by side to introduce new levels of speed, efficiency and flexibility into the fabric of your business.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="javascript:void(0)">Transparent</a></h4>
            <p class="description">When it comes to transperancy,we are open, honest, and straightforward about various operations.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-chat-square-text"></i></div>
            <h4 class="title"><a href="javascript:void(0)">Collaborative</a></h4>
            <p class="description">We Work together with our Clients to bring out exactly what they require to improve their business</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
          <img src="assets/img/about-img.svg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section><!-- End About Section -->