<section id="tos" class="section-bg">
    <div class="container-fluid">
        <div>
            <br>
            <h3>Terms and Conditions</h3>
            <br>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">The rates mentioned in the packages may vary anytime according to the current market and client requirements.</li>
                <li class="list-group-item list-group-item-primary">All requirements must be solid before we begin the process, no additional modules can be added once the design/development stage commences.</li>
                <li class="list-group-item list-group-item-primary">There will be a maximum of 2 UI revisions for the projects that require UI design</li>
                <li class="list-group-item list-group-item-primary">The client should deliver Photos and Content.</li>
                <li class="list-group-item list-group-item-primary">If the brand manual needs to be followed, client should deliver the manual before designing and developing.</li>
                <li class="list-group-item list-group-item-primary">The project files will be shared after the completion of work,only if requested.</li>
                <li class="list-group-item list-group-item-primary">Depending on the additional features and additional pages required, an additional cost will be charged.</li>
                <li class="list-group-item list-group-item-primary">The rates mentioned are when the app and website are developed as a single project. Individually will vary the cost and time.</li>
                <li class="list-group-item list-group-item-primary">Annual Maintenance Contract (AMC) Packages are charged additionally.</li>
                <li class="list-group-item list-group-item-primary">Annual Maintenance Contract (AMC) Packages are charged additionally.</li>
                <li class="list-group-item list-group-item-primary">The cost is estimated purely on development charges and does not include Domain charges, Hosting Charges, Payment Gateway charges, Premium Themes, Playstore & Appstore charges, Other analytics, and add-on charges.</li>
                <li class="list-group-item list-group-item-primary">Any delays at the client's end may delay the project and proposed timeline.</li>
                <li class="list-group-item list-group-item-primary">Any re-work on an already completed task will attract additional charges.</li>
                <li class="list-group-item list-group-item-primary">Any bugs or issues (programming errors) reported just after development do not have additional charges.</li>
                <li class="list-group-item list-group-item-primary">For digital marketing, the design and content, and schedule will be submitted prior. Any delay in confirmation will delay the total timeline.</li>
                <li class="list-group-item list-group-item-primary">There will be a maximum number of reviews per poster and content according to the packages chosen. The quality of poster design will depend on the chosen package and for other services required (eg: video editing), additional charges will be required. The aforementioned details will be specified while submitting the proposal to the client.</li>
                <li class="list-group-item list-group-item-primary">The project will remain with Divine WebServices for at least one year after completion. Transfer of the project to any other third party will result in a penalty.</li>
                <li class="list-group-item list-group-item-primary">Elements of the proposal may be amended upon collaboration with the Client at the discretion of Divine WebServices.</li>
            </ul>
        </div>
        <div>
            <br>
            <h3>Return and Refund</h3>
            <br>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary"><strong>Payment terms:</strong> 50% advance payment has to be made, and remaining 50% on completion of the project.</li>
                <li class="list-group-item list-group-item-primary">100% Advance payment for digital marketing services</li>
                <li class="list-group-item list-group-item-primary"><strong>Cancellation of order:</strong> No cancellation of an order will be accepted after 48 hours of order placement unless agreed by both parties. In case of cancellation of the order, the advance payment is non-refundable.</li>
            </ul>
        </div>
    </div>
</section>