<!-- ======= Services Section ======= -->
<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Services</h3>
        <p>We are here to help you build your business</p>
      </header>

      <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100" (click)="switchServiceWeb()">
          <div class="box card">
            <div class="icon"><i class="bi bi-briefcase"></i>
            </div>
            <h3 class="card-title title card-link">Web Development</h3>
            <p class="card-text description">Complete Set of Website solutions start from design to development.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200" (click)=" switchServiceUiUx()">
          <div class="box card">
            <div class="icon"><i class="bi bi-palette"></i></div>
            <h3 class="card-title title card-link">UI/UX Design</h3>
            <p class="card-text description">Interactive, aesthetic and flexible interface designs for the best user experience.</p>
          </div>
        </div>

      </div>
      <div *ngIf="service; else uiux">
        <ul>
          <li>
            <div id="div1">
             <p class=" container thumbnail">Web Development</p>
             <h3>Gathering Information</h3>
             <h4>Purpose, Goals, and Target Audience</h4>
             <p>The stage of discovering and researching, determines how the subsequent steps will look like. The most important task at this point is to get a clear understanding of your future website purposes, the main goals you wish to get, and the target audience you want to attract to your site.</p>
              <p><strong>Research the competition</strong><br>Finding strong and weak points, good features, interesting solutions of fellow competitors.</p>
           </div>
          </li>
          <li>
            <div id="div2">
              <p class=" container thumbnail">Web Development</p>
              <h3>Wireframe and Designing</h3>
              <h4>Figma</h4>
             <p><strong>Wireframing</strong><br>During the design phase, a wireframing design will be created for the main pages of your website.</p>
             <p><strong>Design</strong><br>During the design phase, your website take shape. All the visual content, such as images, photos, and videos is created at this step.</p>
           </div>
          </li>
         <li>
            <div id="div3">
              <p class=" container thumbnail">Web Development</p>
             <h3>Development</h3>
             <h4>Custom coding</h4>
             <p>Development of the website begins and the graphic elements that have been designed during the previous stages will be implemented. Usually, the home page is created first, and then all sub-pages are added, according to the website hierarchy.</p>
            </div>
          </li>
          <li>
            <div id="div4">
             <p class=" container thumbnail">Web Development</p>
             <h3>Submit and Launch</h3>
              <h4>Testing, Review, and Launch</h4>
              <p>Testing is probably the most routine part of a process. Every single link should be tested to make sure that there are no broken ones among them. After you check and re-check your website, it’s time to upload it to a server.</p>
             <p><strong>Maintenance</strong><br>What’s important to remember is that a website is more of a service than a product. You should also make sure that everything works fine. Regular updates will prevent you from bugs and decrease security issues.</p>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #uiux>
        <div>
          <ul>
            <li>
              <div id="div5">
               <p class=" container thumbnail">UI/UX Designing</p>
               <h3>Comprehensive Understanding</h3>
               <h4>Creating a strategy</h4>
               <p>TIn this step, the design team discusses the product with the Product Manager. During a brainstorming session, you should determine the end-users and define the use cases. Ask about the client’s selling points of the product and their competition.</p>
               <h4>Research the competition</h4>
               <p>Finding strong and weak points, good features, interesting solutions of fellow competitors.</p>
             </div>
            </li>
            <li>
              <div id="div6">
                <p class=" container thumbnail">UI/UX Designing</p>
                <h3>UI Designing</h3>
                <h4>Figma</h4>
               <p>The UI Desiging of the product will be designed using Figma keeping in mind all the requirements given by the client.</p>
               <h4>Prototyping</h4>
               <p>Product prototype will be made if it is requested by the client</p>
             </div>
            </li>
           <li>
              <div id="div7">
                <p class=" container thumbnail">UI/UX Designing</p>
               <h3>UI Submission</h3>
               <h4>Revisions and Updates</h4>
               <p>In this phase the design will be submitted to the client and after reviews the design will be updated according to the required changes.</p>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </section>
  <!-- End Services Section -->
